# SPDX-License-Identifier: MIT
# Copyright (c) 2026 Chris <goabonga@pm.me>
# Managed by Ansible. Every instance points at the same etcd cluster and
# competes for the leases/controller-manager key; only the holder reconciles.
GOA_STATE_DSN={{ state_dsn }}
