# SPDX-License-Identifier: MIT
# Copyright (c) 2026 Chris <goabonga@pm.me>
# Managed by Ansible. "~" makes the domains routing-only: the public DNS is
# asked for them alone, never as a default resolver (it would refuse anyway).
[Resolve]
DNS={{ dns_public_addr }}
Domains={% for d in public_dns_domains %}~{{ d }}{{ ' ' if not loop.last else '' }}{% endfor %}

