# SPDX-License-Identifier: MIT
# Copyright (c) 2026 Chris <goabonga@pm.me>
# Managed by Ansible. upstream-sim routes between the inet client, the real LAN
# and the edges; the L4 hash spreads flows, not just hosts, over ECMP routes.
net.ipv4.ip_forward = 1
net.ipv4.fib_multipath_hash_policy = 1
