# SPDX-License-Identifier: MIT
# Copyright (c) 2026 Chris <goabonga@pm.me>
# Managed by Ansible. Read by infra-exporter.
GOA_STATE_DSN={{ state_dsn }}
GOA_EXPORTER_ADDR={{ exporter_addr }}

# Management certificate: {{ lookup('file', management_pki_dir ~ '/' ~ inventory_hostname ~ '.crt') | hash('sha256') }}
GOA_MANAGEMENT_TLS_CA={{ management_tls_dir }}/ca.crt
GOA_MANAGEMENT_TLS_CERT={{ management_tls_dir }}/node.crt
GOA_MANAGEMENT_TLS_KEY={{ management_tls_dir }}/node.key
